<div class="conteudo">
    <div class="image">
      <img class="logo" [src]=LOGO alt="">
      <div class="texto">
        <p class="texto1">Com o Sendi Delivery, você terá entrega facilitada, encontrará os melhores fornecedores de produtos e mais!</p>
        <p class="texto2"> Cadastre-se e dê o primeiro passo para alavancar suas vendas!</p>
      </div>
    </div>
    <div class="form-control">
        <img src="../../../../assets/images/moto.png" class="moto" alt="">
          <div class="toolbar">
              <div class="toolbar-span">
                  <span>CADASTRE SUA LOJA</span>
                </div>
                <div class="toolbar-bottom">
                  <div class="barra">
                    <span class="font-barra-off">Seus dados</span>
                    <span class="font-barra-off">E-mail e Senha</span>
                    <span>Confirmar dados</span>
                  </div>
                </div>
          </div>
          <div class="dados">
            <div class="col">
              <span><font>Razão social:</font> Mercadinho Barateiro</span>
              <span><font>CNPJ:</font> 10.580.760/0001-79</span>
              <span><font>CEP:</font> 55565-000</span>
              <span><font>Endereço:</font> Rodovia PE-60</span>
              <span><font>Bairro:</font> Centro</span>
            </div>
            <div class="col">
              <span><font>Cidade:</font> São José da Coroa Grande</span>
              <span><font>Estado</font> PE</span>
              <span><font>Complemento</font> Próximo a lombada eletrônica</span>
            </div>
          </div>
          <div class="div-button">
            <button class="butao-confirmacao" type="button" routerLink="sendi-estabelecimento/cadastro-login">Enviar email de confirmação</button>
            <button type="button" >Voltar</button>
          </div>
      </div>
    <div class="poligono">
    </div>
</div>
