<div class="blur_popup">
  <div class="popup">
    <div class="fechar"><button >X</button></div>
    <img class="logo" [src]="LOGO" />
    <form>
      <div class="form-control">
        <div class="form-email">
          <label for="">Email/Celular:</label>
          <input class="input-cadastro" type="text">
        </div>
        <div class="form-senha">
          <label for="">Senha:</label>
          <input class="input-cadastro" type="password">
        </div>
        <div class="form-btn">
          <input type="submit" value="Entrar">
          <span class="span-main">Esqueci miha senha.</span>
          <span class="span-cadastre-se">Cadastre-se?</span>
        </div>
      </div>
  </form>
  </div>
</div>
