<div class="conteudo">
  <div class="image">
    <img class="logo" [src]=LOGO alt="">
    <div class="texto">
      <p class="texto1">Com o Sendi Delivery, você terá entrega facilitada, encontrará os melhores fornecedores de produtos e mais!</p>
      <p class="texto2"> Cadastre-se e dê o primeiro passo para alavancar suas vendas!</p>
    </div>
  </div>
  <div class="form-control">
      <img src="../../../../assets/images/moto.png" class="moto" alt="">
        <div class="toolbar">
            <div class="toolbar-span">
                <span>CADASTRE SUA LOJA</span>
              </div>
              <div class="toolbar-bottom">
                <div class="barra">
                  <span>Seus dados</span>
                </div>

              </div>
        </div>
        <form>
              <div class="form-esquerda">
                    <div class="form-input">
                        <label for="">Razão social</label>
                        <input  type="text" formControlName="razao_social">
                    </div>
                    <div class="form-input">
                        <label for="">CEP</label>
                        <input  type="text" formControlName="CEP">
                    </div>
                    <div class="form-input">
                      <label for="">Cidade</label>
                      <input  type="text" formControlName="cidade">
                  </div>
                    <div class="form-input-endereco">
                        <div class="div-form-endereco">
                            <label for="">Endereço</label>
                            <input  type="text" formControlName="Endereco">
                        </div>
                        <div class="div-form-numero">
                            <label for="" class="font-sec">N°</label>
                            <input  type="text" formControlName="numero">
                        </div>
                    </div>
                    <div class="form-input">
                        <label for="">Bairro</label>
                        <input  type="text" formControlName="bairro">
                    </div>
                </div>
                <div class="form-direita">
                  <div class="form-input">
                      <label for="">CNPJ/CPF</label>
                      <input  type="text" formControlName="CNPJ">
                  </div>
                  <div class="form-input">
                    <label for="" class="font-sec">Telefone</label>
                    <input  type="text" formControlName="cidade">
                  </div>
                    <div class="form-input">
                        <label for="" class="font-sec">Estado</label>
                        <input  type="text" formControlName="estado">
                    </div>
                    <div class="form-input">
                        <label for="" class="font-sec">Complemento</label>
                        <textarea placeholder="MAX. 50" formControlName="Complemento"></textarea>
                    </div>
                    <div class="form-button">
                      <button type="button" routerLink="sendi-estabelecimento/cadastro-login" >Próximo</button>
                      <button>Voltar</button>
                    </div>
                  </div>
                </form>
    </div>
    <div class="poligono">

    </div>
</div>
