<div class="conteudo">
  <img class="logo" src="../../../assets/images/logo.png">
  <div class="bg1"></div>
  <div class="bg2"></div>
  <div class="bg3"></div>
  <div>
    <nav class="navbar">
      <div class="navbar-nav">
        <a class="" href="#">Restaurante</a>
        <a class="" href="#">Quem somos</a>
        <a class=""  routerLink="/sendi/cadastro">Login/Cadastro</a>
      </div>
    </nav>
  </div>
  <div class="texto">
    <p>O próximo aplicativo de grande sucesso está chegando em São José da Coroa Grande.E ele está vindo de Sendi!</p>
  </div>
  <div class="cadastro">
    <label for="">Cadastre-se e receba avisos em primeira mão</label>
    <input type="text" placeholder="Digite seu email">
    <button>Enviar</button>
  </div>
  <img class="hexagono"  src="../../../assets/images/poligano1.png" alt="">
  <img class="hexagono2" src="../../../assets/images/poligano2.png" alt="">
  <img class="hexagono3" src="../../../assets/images/poligano3.png" alt="">
  <img class="hexagono4" src="../../../assets/images/poligano4.png" alt="">
</div>
