.conteudo{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    .image{
        flex: 1;
        background: url(../../../../assets/images/imagem-cadastro-estabelecimento.png) no-repeat; /*aplica a imagem*/
        background-size: cover;
        width: 100%;
        height: 100%;
        .logo{
            width: 16vw;
            margin-left: 6vw;
            margin-top: 7vh;
        }
        .texto{
            text-align: center;
            margin: 1vw;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 2.7vh;
            width: auto;
            height: auto;
            margin-top: 30%;
        }
        }
    .form-control{
        flex: 2;
        .toolbar{
            width: 80%;
            height: 15%;
            .toolbar-span{
                justify-content: space-around;
                display: flex; 
                span{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 3vh;
                    line-height: 50px;

                    color: #FF4700;
                }
            }
            .barra{
                justify-content: space-around;
                display: flex; 
                background-color: #E28100;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                height: 30%;
                span{
                    background-color: #FFFFFF;
                    border-radius: 40px;
                    padding: 0;
                    width: 23px;
                    height: 23px;
                    margin: auto;
                }
                .font-span{
                    color: #979797;
                }
                .font-span-select{
                    color: #1CED31;
                }
            }
        }
        form{
            width: 100%;
            height: 85%;
            display: flex;
            .form-esquerda{
                flex: 1;
                width: 100%;
                height: 90%;
                margin-top: 5%;
                .form-input{             
                    height: 10%;
                    width: auto;
                    margin: 2vh;
                    display: block;
                    justify-content: start;
                    
                    input{
                        display: block;
                        width: 67%;
                        height: 25px;
                        border-radius: 5px;
                        background: #FFFFFF;
                        border: 1px solid #373435;
                        margin: auto;
                    }
                    label{
                        display: block;
                        margin-left: 17%;
                        width: auto;
                        font-style: normal;
                        font-weight: 700;
                        color: #FF4700;
                    }

                }
                .form-input-endereco{
                    height: 10%;
                    width: auto;
                    margin: 2vh;
                    display: flex;
                    .div-form-endereco{
                        display: block;
                        float: left;
                        input{
                            display:  block;
                            width: 79%;
                            height: 25px;
                            border-radius: 5px;
                            background: #FFFFFF;
                            border: 1px solid #373435;
                            float: right;
                            margin-right: 2px;
                            }
                        label{
                            display: block;
                            width: auto;
                            margin-left: 20%;
                            font-style: normal;
                            font-weight: 700;
                            color: #FF4700;
                        }
                        width: 85%;
                    }
                    .div-form-numero{
                        display: block;
                        input{
                            display: block;
                            width:100%;
                            height: 25px;
                            border-radius: 5px;
                            background: #FFFFFF;
                            border: 1px solid #373435;
                            margin: auto;
                        }
                        label{
                            display: block;
                            margin-left: 10%;
                            width: auto;
                            font-style: normal;
                            font-weight: 700;
                            color: #FF4700;
                        }
                        width: 15%;
                    }
                }

            }
            .form-direita{
                flex: 1;
                width: auto;
                height: 80%;
                margin-top: 5%;
                .form-input{             
                    height: 10%;
                    width: auto;
                    margin: 2vh;
                    display: block;
                    justify-content: start;
                    
                    input{
                        display: block;
                        width: 67%;
                        height: 25px;
                        border-radius: 5px;
                        background: #FFFFFF;
                        border: 1px solid #373435;
                        margin: auto;
                    }
                    textarea{
                        display: block;
                        width: 67%;
                        height: 70px;
                        border-radius: 5px;
                        background: #FFFFFF;
                        border: 1px solid #373435;
                        margin: auto; 
                    }
                    label{
                        display: block;
                        margin-left: 17%;
                        width: auto;
                        font-style: normal;
                        font-weight: 700;
                        color: #FF4700;
                    }

                }
                .form-button{
                    margin-top: 50%;
                    button{
                        float: right;
                        margin-right: 10%;
                        background: #E28100;
                        border: 1px solid #E28100;
                        border-radius: 5px;
                        height: 5vh;
                        width: 7vw;
                        color: #fff;
                    }
                }              
            }
        }
    }
}