<div class="conteudo">
    <div class="image">
        <img class="logo" [src]=LOGO alt="">
        <div class="texto">
            <p>Cadastre-se e de o primeiro passo para se tornar um Sendi. <br> <br> Cadastre-se e e turbine suas vendas!</p>
        </div>
    </div>
    <div class="form-control">
        <div class="toolbar">
            <div class="toolbar-span">
                <span>Seus dados</span> <span>E-mail e senha</span> <span>Concluir</span>
            </div>
            <div class="barra">
                <span class="material-symbols-outlined font-span-select">task_alt</span>
                <span class="material-symbols-outlined font-span">task_alt</span>
                <span class="material-symbols-outlined font-span">task_alt</span>
            </div>
        </div>
        <form>
              <div class="form-esquerda">
                    <div class="form-input">
                        <label for="">Razão social</label>
                        <input  type="text">
                    </div>
                    <div class="form-input">
                        <label for="">CNPJ</label>
                        <input  type="text">
                    </div>
                    <div class="form-input">
                        <label for="">CEP</label>
                        <input  type="text">
                    </div>
                    <div class="form-input-endereco">
                        <div class="div-form-endereco">
                            <label for="">Endereço</label>
                            <input  type="text">
                        </div>
                        <div class="div-form-numero">
                            <label for="">N°</label>
                            <input  type="text">
                        </div>
                    </div>
                    <div class="form-input">
                        <label for="">Bairro</label>
                        <input  type="text">
                    </div>
                </div>
                <div class="form-direita">
                    <div class="form-input">
                        <label for="">Cidade</label>
                        <input  type="text">
                    </div>
                    <div class="form-input">
                        <label for="">Estado</label>
                        <input  type="text">
                    </div>
                    <div class="form-input">
                        <label for="">Complemento</label>
                        <textarea></textarea>
                    </div>
                    <div class="form-button">
                        <button type="submit">Próximo</button>
                        <button type="button">Voltar</button>
                    </div>
                </div>
        </form>
    </div>
</div>