<div class="conteudo">
  <div class="image">
    <img class="logo" [src]=LOGO alt="">
    <div class="texto">
      <p class="texto1">Com o Sendi Delivery, você terá entrega facilitada, encontrará os melhores fornecedores de produtos e mais!</p>
      <p class="texto2"> Cadastre-se e dê o primeiro passo para alavancar suas vendas!</p>
    </div>
  </div>
  <div class="form-control">
      <img src="../../../../assets/images/moto.png" class="moto" alt="">
        <div class="toolbar">
            <div class="toolbar-span">
                <span>CADASTRE SUA LOJA</span>
              </div>
              <div class="toolbar-bottom">
                <div class="barra">
                  <span class="font-barra-off">Seus dados</span>
                  <span>E-mail e Senha</span>
                </div>

              </div>
        </div>
        <form>
          <div class="form-input">
              <label  for="">Email</label>
              <input  type="text">
          </div>
          <div class="form-input">
              <label for="">Confirme seu email</label>
              <input  type="text">
          </div>
          <div class="form-input">
            <label  for="">Senha</label>
            <input  type="text">
        </div>
          <div class="form-input">
              <label  for="">Confime sua senha</label>
              <input  type="text">
          </div>
          <div class="form-button">
            <button type="button">Próximo</button>
            <button type="button" >Voltar</button>
          </div>
    </form>
    </div>
    <div class="poligono">

    </div>
</div>
