<div class="conteudo">
  <img class="logo" [src]=LOGO alt="">

  <img class="hexagono"  src="../../../assets/images/poligano1.png" alt="">
  <img class="hexagono2" src="../../../assets/images/poligano2.png" alt="">
  <img class="hexagono3" src="../../../assets/images/poligano3.png" alt="">
  <img class="hexagono4" src="../../../assets/images/poligano4.png" alt="">
  <div class="texto">
    <p>Tudo certo. <br> Agora, confirme sua conta em seu email e seu acesso <br> estará liberado!</p>
    <button type="button"  routerLink="/sendi">Página inicial</button>
  </div>
  <div class="box">
    <div class="bg1"></div>
  </div>
</div>
